---
import type { CVOtherItem } from '../../types/cv-data'

interface Props {
  data: CVOtherItem[]
}

const { data } = Astro.props
---

<section class="others">
  <h2>その他</h2>
  <ul>
    {
      data.map((item) => (
        <li>
          {item.content}
          {item.reference && (
            <Fragment>
              <br />
              <strong>参考:</strong>
              <a href={item.reference.url} target="_blank">
                {item.reference.label}
              </a>
            </Fragment>
          )}
        </li>
      ))
    }
  </ul>
</section>
